streamlit
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
chromadb
chroma-hnswlib
beautifulsoup4
sentence-transformers==2.7.0
transformers==4.40.2
torch==2.2.2
numpy==1.26.4
requests
pymupdf
pytesseract
Pillow
python-docx
python-pptx
